/* stylesheet */

@font-face{
  font-family : "jgs";
  src : url("jgs.ttf");
}

#version{
  position : fixed;
  bottom : 0;
  right :9px;
}

* {
  pointer-events : none;
  margin : 0;
  padding : 0;
  font-family : "jgs";
  overflow : hidden;
  transition : color 0.5s, background-color 0.5s;
}
body{
  background-color : #000;
}
@media(max-height : 792px){
html{
  font-size : 18px;
  line-height : 18px;
}
}
@media(min-height : 792px){
html{
  font-size : 36px;
  line-height : 36px;
}
}

p {
  max-width : 25rem;
  margin : auto;
}

#terminal{
  margin-top : calc( 50vh - 10.5rem );
  height : 20rem;
}

#cmd:before{
  content : "> ";
}
